.App {
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: #ccc;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

.need_to_log_in {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    background: #1a1a1a;
    color: #93b0d1;
    text-shadow: #474747 3px 5px 2px;
    height: 90vh;
    padding: 20px;
}
